.programLayout {
  display: flex;
  align-items: flex-start;
}

.programDiv {
  flex: 1;
  margin-top: 40px;
  margin-left: 80px;
}

.programFlower {
  width: 300px;
  object-fit: contain;
  padding: 16px;
}

.programTitle {
  font-size: 3rem;
}

.programDate {
  font-size: 1.5rem;
  font-family: 'Arial', sans-serif;
}
